<h1>Prescriptions</h1>

<% @drugs.each do |drug| %>
  <%#= link_to drug.name, drug_path(drug) %>
  <br>
  <%= drug.description %>
  <br>
  <%= drug.cost %>
  <br>
  <%= link_to "Edit", edit_clinic_patient_drug_path(@clinic, @patient, drug) %>
  <br>
  <%= link_to "Delete", clinic_patient_drug_path(@clinic, @patient, drug), method: :delete %>
  <br>
<% end %>