.container
  .row
    .col-md-12.text-center.jumbotron
      %h1 Prescription Data
.container
  .row
    .col-md-12.text-center
      = link_to "Edit", edit_drug_path(@drug)

.container
  .row
    .col-md-4
      %strong Prescription name
      %br
      = @drug.name
      %br
    .col-md-4
      %strong Prescription description
      %br
      = @drug.description
      %br
    .col-md-4
      %strong Prescription cost
      %br
      = @drug.cost
      %br

