.container
  .row
    .col-md-12.text-center.jumbotron
      %h1 New Clinic

.container
  .row
    .col-md-12.text-center
      %h4
        %strong Add a new Clinic

.container
  .row
    .col-md-12.text-center
      = render 'form'

.container
  .row
    .col-md-12.text-center
      = link_to "Cancel", root_path