= render 'home/jumbotron'
.container
  .row
    .col-md-12.text-center
      %h2.list-group-item-index
        %strong All you need from Healthcare in one place.
.container
  .row
    .col-md-4
      %h4.list-group-item-index
        Modernized. For the 21st Century.
    .col-md-4
      %h4.list-group-item-index
        Data Driven. Optimized for patients.
    .col-md-4
      %h4.list-group-item-index
        "Patients as People" philosophy
.container-fluid
  .row
    .col-md-4.image-1
.container-fluid
  .row
    .col-md-4.image-2
.container-fluid
  .row
    .col-md-4.image-3

.container
  .row
    .col-md-12.text-center
      %h3.list-group-item-link
        = link_to "Our Partners", clinics_path, class: "partner-link"
= render 'home/footer'

