li {
  list-style-type: none;
  display: inline;
}
.btn.btn-default1{
  color: #104e8b;
  background-color: #fffff2;
  border-color: #104e8b;
  border-radius: 4px;
}
.btn.btn-default1:hover{
  background-color: #104e8b;
  color: #ffffff;
}

.default1:hover{
  color: #ffffff;
}