#pagination {
  list-style-type: none;
  display: inline;
}
  .col-md-4.drugs {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: whitesmoke;
  border: 1px solid #ddd;
}

.jumbotron-drugs {
  background-image: url("mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 30%;
  padding: 100px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #104E8B;
  background-color: #ECF1EF;
}
.drug-headline:hover {
  color: crimson;
}

.border {
  border: solid 1px #c0c0c0;
  border-radius: 5px;
  background: whitesmoke;
  padding: 0px 9px;
}

.image-11 {
  background-image: url("city.jpg");
  background-image: no-repeat;
  background-size: cover;
  height: 211px;
  width: 300px;
  border-radius: 5px;
}

.image-12 {
  background-image: url("robust.jpg");
  background-image: no-repeat;
  background-size: cover;
  height: 211px;
  width: 300px;
  border-radius: 5px;
}

.image-13 {
  background-image: url("camera.jpg");
  background-image: no-repeat;
  background-size: cover;
  height: 211px;
  width: 300px;
  border-radius: 5px;
}

.jumbotron-view {
  background-image: url("view.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 40%;
  padding: 100px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #104E8B;
  background-color: #ECF1EF;
}

.jumbotron-asia {
  background-image: url("asia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 55%;
  padding: 100px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #104E8B;
  background-color: #ECF1EF;
}