#pagination {
  list-style-type: none;
  display: inline;
  border-radius: 10px;
  border: solid 1px #c0c0c0;
  padding: 0px 9px;
  background: whitesmoke;
}
  .col-md-4.drugs {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: whitesmoke;
  border: 1px solid #ddd;
}

.jumbotron-drugs {
  background-image: url("mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 30%;
  padding: 100px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #104E8B;
  background-color: #ECF1EF;
}
.drug-headline:hover {
  color: crimson;
}

.border {
  border: solid 1px #c0c0c0;
  border-radius: 5px;
  background: whitesmoke;
  padding: 0px 9px;
}